/* Reset */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 2;
       
}

/* Layout */
body
{
    width: 50%;
    margin: 100px auto;
    padding: 50px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

h1
{
    background-color: coral;
    text-decoration: underline red;
    margin-bottom: 10px;
    width: 50%;
    display: inline-block;
    text-align: center;
    border-radius: 45%;
    
}

.text
{
    padding: 10px;
    border-radius: 5px;
    border: 0 5px 5px 0 black;
    width: 70%;
    margin: 10px auto;
}

.btn1 , .btn2
{
    padding: 10px;
    margin: 10px auto;
    background: coral;
    width: fit-content;
    border-radius: 5px;
    transition: 0.3s background(red);
}